<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<form action="/albums">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<h3>List</h3>
<% if @albums.any? %>

<% @albums.each do |album| %>
<li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
<% end %>

<% else %>
<p>There are currently no records to display.</p>
<% end %>
<br>
<a href="/albums/new">Add a new album</a>
