<h4>Album Name: <%= @album.name %></h4>
<h5>Album Artist: <%= @album.artist %></h5>
<h5>Album Genre: <%= @album.genre %></h5>

<p><a href="/albums/<%= @album.id %>/edit">Edit album</a></p>
<a href="/albums">Return to album list</a>
